<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TargetDir" value="desktop\\bravos\\ECD-XML-test\\ECD_Handler\\XML_files\\" />
		<add key="FileExtension" value="*.xml" />
		<add key="OutputDir" value="desktop\\bravos\\ECD-XML-test\\ECD_Handler\\output.txt" />
	</appSettings>
</configuration>